{% extends 'base.html' %}

<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <title>{% block judul %}LibList Returned Result {% endblock %}</title>
    </head>


    {% block content %}
    <div class="content">
        <p class="p2">Returned Book's Data</p>
        <div class="values1">
            <table class="tabel">
                <tbody class="tabelhasilcari">
                    <tr>
                        <th>No Kembali</th>
                        <th>No Pinjam</th>
                        <th>ID Buku 1</th>
                        <th>ID Buku 2</th>
                        <th>ID Buku 3</th>
                        <th>ID Anggota</th>
                        <th>ID Staff</th>
                        <th>Tanggal Kembali</th>
                        <th>Denda</th>
                    </tr>
                    {% for column in hasil %}
                    <tr>
                        <td>{{column.0}}</td>
                        <td>{{column.1}}</td>
                        <td style="text-align: center;">{{column.2}}</td>
                        <td style="text-align: center;">{{column.3}}</td>
                        <td style="text-align: center;">{{column.4}}</td>
                        <td style="text-align: center;">{{column.5}}</td>
                        <td style="text-align: center;">{{column.6}}</td>
                        <td style="text-align: center;">{{column.7}}</td>
                        <td style="text-align: center;">{{column.8}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}
</body>


</html>